:root {
  --background: #ffffff;
  --foreground: #171717;
  --bs-primary: #0fbe7c;
  --bs-primary-rgb: 15, 190, 124;
  --bs-primary-bg-subtle: #e6f9f1;
  --bs-primary-border-subtle: #a2e3c7;
  --bs-primary-text-emphasis: #0b7c55;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav.navbar {
  padding: 0.5rem 1rem;
}

/* .btn-outline-light:hover {
  background-color: rgba(255,255,255,0.2);
} */

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: transparent !important;
  color: inherit !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

/* BUTTONS */
.btn {
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgba(var(--bs-primary-rgb), 0.85) !important;
  border-color: rgba(var(--bs-primary-rgb), 0.85) !important;
}


/* Responsive  */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}