:root {
  --background: #ffffff;
  --foreground: #171717;
  --bs-primary: #0fbe7c;
  --bs-primary-rgb: 15, 190, 124;
  --bs-primary-bg-subtle: #e6f9f1;
  --bs-primary-border-subtle: #a2e3c7;
  --bs-primary-text-emphasis: #0b7c55;
  --bs-warning: #cd5601;
  --bs-warning-rgb: 205, 86, 1;
  --bs-info: #02a993;
  --bs-info-rgb: 2, 169, 147;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav.navbar {
  padding: 0.5rem 1rem;
}

/* .btn-outline-light:hover {
  background-color: rgba(255,255,255,0.2);
} */

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: transparent !important;
  color: inherit !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

/* FORM */
/* .form-select{
  --bs-form-select-bg-img: 
  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
} */

.lang-select {
  background-color: #0fbe7c !important;
  /* Green background */
  color: #fff !important;
  /* White text */
  border-radius: 6px;
  /* Rounded edges */
  appearance: none;
  /* Remove default arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath fill='white' d='M0 0l5 6 5-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  cursor: pointer;
  /* width: auto; */
  font-size:18px ;
}

.lang-select option {
  color: #000;
}

.search-input {
  font-size: 21px;
}

.search-input::placeholder {
  color: #b0b0b0;
}

/* 
.lang-select:focus {
  outline: none;
  box-shadow: none;
} */

/* BUTTONS */
.btn {
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgba(var(--bs-primary-rgb), 0.85) !important;
  border-color: rgba(var(--bs-primary-rgb), 0.85) !important;
}


/* Responsive  */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}